@import "tailwindcss";

@theme inline {
  --color-primary-50: #feffe4;
  --color-primary-100: #fbffc4;
  --color-primary-200: #f5ff90;
  --color-primary-300: #e8ff50;
  --color-primary-400: #ddff33;
  --color-primary-500: #bae600;
  --color-primary-600: #90b800;
  --color-primary-700: #6c8b00;
  --color-primary-800: #566d07;
  --color-primary-900: #485c0b;
  --color-primary-950: #253400;
  --font-poppins: 'Poppins';
  --font-adlam: 'ADLaM Display';
}

body {
  background-color: #222222;
}
